*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  min-height: 100svh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background-color: #ece5db;
  padding-top: 2rem;
  padding-inline: 5rem;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

h1, footer, h2 {
  text-align: center;
}

h1 {
  margin-block: 3rem;
}

nav {
  margin-top: 5rem;
  font-size: 2rem;
  margin-inline: auto;
}

nav ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 80%;
  margin-inline: auto;
}

main {
  margin-top: 5rem;
}

main section {
  padding-block: 3rem;
}

main h2 {
  margin-bottom: 1rem;
}

main p {
  line-height: 1.75;
}

form {
  background-color: bisque;
  padding: 4rem;
  display: inline-block;
  border-radius: 5rem;
  margin-inline: auto;
}

form label {
  display: inline-block;
}

form label:not(:first-child) {
  margin-top: 1em;
}

.places-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.why-need {
  max-width: 120rem;
  margin-inline: auto;
}

.places {
  margin-top: 2rem;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-template-columns: 40% 40%;
}

footer {
  margin-top: 5rem;
}

.about-me {
  max-width: 120rem;
  margin-inline: auto;
}

#form-section {
  text-align: center;
}